@model MvcUI.Models.Membership.Profile

@section Links
{
    @Styles.Render("~/Content/home/css")
}
@section scripts
{
    @Scripts.Render("~/Content/admin/js")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
}


@{
    ViewBag.Title = "Private";
}

<div id="Wall">
    <div id="Messages">
        @using (Html.BeginForm())
        {
                <input type="text" name="FirstName" style="width:50%;" />
        }
        @{
            Html.RenderAction(
                 "PrivateList",
                 "Wall",
                 new
                 {
                     controllerName = "Home",
                     userId = @Membership.GetUser(User.Identity.Name) == null ? -1 : @Membership.GetUser(User.Identity.Name).ProviderUserKey,
                     page = ViewBag.SelectedPage
                 }
            );
        }
    </div>
</div>



